/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container-fluid{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* DEFAULT COL AND MARGIN */

.col-xs-1{
    flex-basis: calc( (100% / 12) * 1);
    max-width: calc( (100% / 12) * 1);
}