.row{
    background-color: chocolate;
}

.box{
    min-height: 50px;
    padding: 10px;
    background-color:cornflowerblue;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    text-align: center;
    
}

.nested-box{
    height: 100%;
    border: 1px solid grey;
    background-color: cyan;
}